/*********************** MAIN BODY *******************/

body {
    margin: 0;
}

.slide {
    /** เลื่อนด้านข้าง **/
    width: 100vw;
    height: 100vh;
}

.boxshowspeed {
    height: 75vw;
}


/*********************** HEADER & SUBHEADER *******************/

.header {
    padding-right: 25px;
    text-align: center;
    font-size: 50px;
    background: #00dfdf;
    margin: auto;
}

.sub_header {
    padding-left: 10px;
    text-align: center;
    font-size: 40px;
}


/*********************** BACKGROUND IMAGE *******************/

.intro {
    background-image: url(Bg/light-burst-texture-free-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.logo {
    display: block;
    margin-left: 190px;
    margin-right: auto;
}

.bg1 {
    background: #efdefe;
}

.bg2 {
    background: #a3f3d3;
}

.bg3 {
    background: #0bbaa0;
}

.bg4 {
    background: #00dfdf;
}


/*********************** WRAPPER *******************/

.wrapper {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    display: flex;
    flex-direction: row;
    width: 500vw;
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    /*lock page*/
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
}

.outer-wrapper {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container-fluid.container-xl {
    display: block;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: auto;
    margin-right: auto;
}


/*********************** SCROLL BAR *******************/

 ::-webkit-scrollbar {
    display: none;
}


/************************* Button Controller ***************************/

a {
    /*Tag Name*/
    padding: 10px 20px;
    text-decoration: none;
}

a.intro_next {
    /*Tag Name for Intro Button*/
    padding: 10px 20px;
    margin-left: 45vw;
    background: #00dfdf;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
}

.bottom_panel {
    /*Buttom Panel*/
    background: lightyellow;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0%;
}

.previous {
    /*Previous Button*/
    margin-left: 2%;
    margin-top: 3%;
    background-color: #f1f1f1;
    position: relative;
    display: inline-block;
    color: black;
    font-weight: bold;
}

#reset {
    /*Reset Button*/
    margin-left: 39%;
    margin-top: 3%;
    background-color: #4CAF50;
    position: relative;
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.next {
    /*Next Button*/
    margin-left: 41%;
    margin-top: 3%;
    background-color: #f1f1f1;
    position: relative;
    display: inline-block;
    color: black;
    font-weight: bold;
}

.timer {
    /*Countdown Timer Text*/
    font-size: 40px;
    margin-top: 22%;
    position: relative;
    text-align: center;
}

#play {
    animation-play-state: running;
}

#paused {
    animation-play-state: paused;
}


/************************* HOVER *************************/

a:hover {
    background-color: #ddd;
    color: black;
}


/************************* ANIMATION KEYFRAMES *************************/

@keyframes mymove {
    from {
        left: 0%;
    }
    to {
        left: 90%;
    }
}


/************************* RUNNING IMAGE***************************/

.run_snail {
    position: relative;
    animation: mymove 695s ease;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    top: 15%;
}

.run_human {
    position: relative;
    animation: mymove 42s ease;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    top: 15%;
}

.run_car {
    position: relative;
    animation: mymove 27s ease;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    top: 15%;
}

.reset {
    animation: mymove 0s ease;
}