body {
    margin: 0;
}


/***********************เลื่อนด้านข้าง*******************/

.slide {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
}

.one {
    background: #efdefe;
}

.two {
    background: #a3f3d3;
}

.three {
    background: #0bbaa0;
}

.four {
    background: #00dfdf;
}

.wrapper {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
}

.outer-wrapper {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

 ::-webkit-scrollbar {
    display: none;
}


/***************************************************************/

.box2 {
    position: relative;
    animation: mymove 5s ease;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    top: 25%;
}

.first {
    position: relative;
    animation: mymove 695s ease;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    top: 25%;
}

#play {
    animation-play-state: running;
}

#paused {
    animation-play-state: paused;
    animation: imove 0s ease;
}

.header {
    height: 5vw;
}

.boxshowspeed {
    height: 75vw;
}

a {
    text-decoration: none;
    color: black;
}

div.btn {
    position: absolute;
    width: 50%;
    bottom: 10%;
}

@keyframes mymove {
    from {
        left: 0%;
    }
    to {
        left: 90%;
    }
}

@keyframes imove {
    from {
        left: 0%;
    }
    to {
        left: 0%;
    }
}